:root {
    --main-color: #222222;
    --accent-color: #e2b932;
    --light-background: #e2e2e2;
    --base-background: #ffffff;
    --text-color: #555555;
    --text-on-black: #cccccc;
    --light-text: #ffffff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 100%;
    margin: 0 auto;
  }

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

.nav_list{
    display: flex;
    width: 1440px;
    margin:auto;
    justify-content:space-between;
    list-style-type: none;
}

.nav_list li{
    padding: 20px;
    transition: 0.3s;
}

.nav_list a{
    text-decoration: none;
    color: var(--text-on-black);
    transition: 0.3s;
}

.nav_list li:hover{
    background-color: var(--accent-color);
    transition: 0.3s;
}

.nav_list li:hover a{
    color: var(--main-color);
    transition: 0.3s;
}

.name{
    display: flex;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin: 56px auto 0px;
    background-image: url(../images/header-background.jpg);
    background-position: center;
}

.photo{
    padding: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.heading-1 {
    padding: 20px;
    font-size: 4em;
    color: var(--light-text);
}

#contacts{
    display: flex;
    width: 1440px;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.phone{
    margin-left: 20px;
    padding: 35px 50px;
    background-image: url(../images/telephone.png);
    background-position: left;
    background-repeat: no-repeat;
}

.email{
    margin-left: 20px;
    padding: 35px 50px;
    background-image: url(../images/email.png);
    background-position: left;
    background-repeat: no-repeat;
}

.telegram{
    margin-left: 20px;
    padding: 35px 50px;
    background-image: url(../images/telegram.png);
    background-position: left;
    background-repeat: no-repeat;
}

#intro {
    background-color: var(--light-background);
    padding: 50px;
}

.text{
    width: 1440px;
    margin: 30px auto;
    text-align: center;
}

.heading-2{
    background-image: url(../images/separator.png);
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

p {
    margin: 1em;
    line-height: 1.5em;
}

#skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 50px;
}

.skills-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1440px;
    padding: 30px;
}

.skills-left > div > ul {
    line-height: 2em;
    padding-left: 50px;
    padding-bottom: 30px;
}

.heading-4{
    padding: 15px 0px;
    margin-bottom: 20px;
    border-bottom: solid 2px var(--accent-color);
}

.skills-content > div{
    width: 50%;
    padding: 0px 50px;
}

.code {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    border: dashed 1px var(--main-color);
    border-radius: 10px;
}

.skills-right > a,
.project-container > a {
    background-color: var(--accent-color);
    color:var(--main-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;  
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}

#experience{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-image: url(../images/experience-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.exp-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
    margin: auto;
}

.project-text {
    padding: 0 0 30px;
}

#experience > div > div > h2 {
    color: var(--light-text);
}

.experience {
    width: 50%;
    margin: 50px;
}

.projects {
    width: 50%;
    margin: 50px;
}

.project-container{
    background-color: var(--base-background);
    background-image: url(../images/data.png);
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: center;
    background-size: 100px 100px;
    display: block;
    margin: 30px auto;
    padding: 30px 30px 30px 200px;
    font-weight: bold;
    min-height: 150px;
    border-radius: 10px;
}

.exp-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto;
    font-weight: bold;
}

.exp-item-1{
    width: 50%;
    height: 200px;
    background-image: url(../images/9-years.png);
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--accent-color);
}

.exp-item-2{
    width: 50%;
    height: 200px;
    background-image: url(../images/6-years.png);
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--accent-color);
}

.edu-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px auto 0;
}

.edu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: stretch;
    width: 1440px;
    height: 300px;
    margin: 30px auto;
    list-style-type: none;
}

.edu-item-1{
    background-image: url(../images/school.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: center;
    background-position-y: top;
    width: 25%;
    text-align: center;
    line-height: 2em;
    padding-top: 180px;
}

.edu-item-2{
    background-image: url(../images/univercity.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: center;
    background-position-y: top;
    width: 25%;
    text-align: center;
    line-height: 2em;
    padding-top: 180px;
}

.edu-item-3{
    background-image: url(../images/temogam.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: center;
    background-position-y: top;
    width: 25%;
    text-align: center;
    line-height: 2em;
    padding-top: 180px;
}

.edu-item-4{
    background-image: url(../images/codecademy.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position-x: center;
    background-position-y: top;
    width: 25%;
    text-align: center;
    line-height: 2em;
    padding-top: 180px;
}

.lang-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.english {
    background-image: url(../images/learning.png);
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: center;
    background-size: 50px 50px;
    width: 1440px;
    padding: 50px;
    border: dashed 3px var(--accent-color);
    border-radius: 10px;
    margin: 0 auto 50px;
    text-align: center;
    font-size: 1.5em;
}

.footer-container{
    background-color: var(--light-background);
    width: 100%;
}

.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 1440px;
    height: 100px;
    margin: auto;
    list-style-type: none;
}