:root {
    --main-color: #222222;
    --accent-color: #e2b932;
    --light-background: #e2e2e2;
    --text-color: #555555;
    --text-on-black: #cccccc;
    --light-text: #ffffff;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

.nav_list{
    display: flex;
    width: 1000px;
    margin:auto;
    justify-content: space-around;
    list-style-type: none;
}

.nav_list li{
    padding: 20px;
}

.nav_list a{
    text-decoration: none;
    color: var(--text-on-black);
}

.nav_list li:hover{
    background-color: var(--accent-color);
}

.nav_list li:hover a{
    color: var(--main-color);
}

header {
    display: flex;
    width: 100%;
    height: 300px;
    margin: 56px auto 0px;
    justify-content: center;
    align-items: center;
    background-image: url(../images/header-background.jpg);
    background-position: center;
}

.photo{
    padding: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.heading-1 {
    padding: 20px;
    font-size: 4em;
    color: var(--light-text);
}

#contacts{
    display: flex;
    width: 1000px;
    margin: auto;
    flex-direction: row;
    justify-content: space-around;
}

.phone{
    padding: 25px 50px;
    background-image: url(../images/telephone.png);
    background-position: left;
    background-repeat: no-repeat;
}

.email{
    padding: 25px 50px;
    background-image: url(../images/email.png);
    background-position: left;
    background-repeat: no-repeat;
}

.telegram{
    padding: 25px 50px;
    background-image: url(../images/telegram.png);
    background-position: left;
    background-repeat: no-repeat;
}

#intro {
    background-color: var(--light-background);
    width: 100%;
    padding: 30px;
}

.text{
    width: 1000px;
    margin: 30px auto;
    text-align: center;
}

.heading-2{
    background-image: url(../images/separator.png);
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

p {
    margin: 1em;
    line-height: 1.5em;
}

#skills{
    width: 100%;
    padding: 30px;
}

.skills-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 1000px;
    padding: 30px;
}

ul {
    line-height: 2em;
    padding-left: 30px;
}

.heading-4{
    padding: 15px;
    margin-bottom: 20px;
    background-color: var(--light-background);
    border-radius: 10px;
    text-align: center;
}

.skills-content > div{
    width: 300px;
}